<%= form_for @team, :html => { :method => :delete } do |f| %>
  <h3>Are you sure you want to permanently destroy <%= @team.name %>?</h3>
  <p>
    <%= submit_tag "Destroy", :class => "btn btn-danger" %> or <%= link_to "cancel", teams_path, :class => "btn" %>
  </p>
<% end %>
