<script type="text/template" id="list-template">
  <li id="<%%= id %>"><a href="/projects/<%%= project_guid %>/entries/<%%= guid %>"><%%= project_name %>: <%%= title %></a></li>
</script>
<script type="text/template" id="entry-template">
  <div class="deets">
    <a href="#" class="close" title="close">×</a>
    <p>
    <%%= title %><br/>
    <%% if (username) { %>
    <strong>Username:</strong> <%%= username %> <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="110" height="14" id="clippy-username=<%%= id %>" ><param name="movie" value="/swfs/clippy.swf"/><param name="allowScriptAccess" value="always" /><param name="quality" value="high" /><param name="scale" value="noscale" /><param name="FlashVars" value="text=<%%= username %>"><param name="bgcolor" value="#F5F5F5"><embed src="/swfs/clippy.swf" width="110" height="14" name="clippy-username-<%%= id %>" quality="high" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" FlashVars="text=<%%= username %>" bgcolor="#F5F5F5" /></object><br/>
    <%% } %>
    <%% if (password) { %>
    <strong>Password:</strong> <%%= password %> <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="110" height="14" id="clippy-password-<%%= id %>" ><param name="movie" value="/swfs/clippy.swf"/><param name="allowScriptAccess" value="always" /><param name="quality" value="high" /><param name="scale" value="noscale" /><param name="FlashVars" value="text=<%%= username %>"><param name="bgcolor" value="#F5F5F5"><embed src="/swfs/clippy.swf" width="110" height="14" name="clippy-password-<%%= id %>" quality="high" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" FlashVars="text=<%%= password %>" bgcolor="#F5F5F5" /></object><br/>
    <%% } %>
    <%% if (url) { %>
    <strong>URL:</strong> <%%= url %> <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="110" height="14" id="clippy-url-<%%= id %>" ><param name="movie" value="/swfs/clippy.swf"/><param name="allowScriptAccess" value="always" /><param name="quality" value="high" /><param name="scale" value="noscale" /><param name="FlashVars" value="text=<%%= url %>"><param name="bgcolor" value="#F5F5F5"><embed src="/swfs/clippy.swf" width="110" height="14" name="clippy-url-<%%= id %>" quality="high" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" FlashVars="text=<%%= url %>" bgcolor="#F5F5F5" /></object><br/>
    <%% } %>
    </p>
    <%% if (expiration) { %>
    <strong>Expiration:</strong> <%%= expiration %><br/>
    <%% } %>
    </p>
    <%% if (tags) { %>
    <strong>Tags:</strong>
      <%% _.each(tags, function(tag, idx) {
        %><%%= (idx !== 0 ? ', ' : '') + tag.name %><%% });
      %>
    <%% } %>
    </p>
    <%% if (notes) { %>
    <hr/>
    <p><strong>Notes:</strong> <%%= notes %></p>
    <%% } %>
    <hr/>
    <a href="<%%= path %>/edit" class="btn">Edit</a>
  </div>
</script>