<script type="text/template" id="list-template">
  <li id="<%%= id %>"><a href="/projects/<%%= project_guid %>/entries/<%%= guid %>"><%%= project_name %>: <%%= title %></a></li>
</script>
<script type="text/template" id="entry-template">
  <div class="deets">
    <a href="#" class="close" title="close">×</a>
    <p>
    <%%= title %><br/>
    <%% if (username) { %>
    <strong>Username:</strong> <%%= username %> <%% print(APP.clippy(id, 'username', username)) %><br/>
    <%% } %>
    <%% if (password) { %>
    <strong>Password:</strong> <%%= password %> <%% print(APP.clippy(id, 'password', password)) %><br/>
    <%% } %>
    <%% if (url) { %>
    <strong>URL:</strong> <%% print(APP.externalLink(url)) %> <%% print(APP.clippy(id, 'url', url)) %>
    <%% } %>
    <%% if (expiration) { %>
    <strong>Expiration:</strong> <%%= expiration %><br/>
    <%% } %>
    <%% if (tags.length > 0) { %>
    <strong>Tags:</strong>
      <%% _.each(tags, function(tag, idx) {
        %><%%= (idx !== 0 ? ', ' : '') + tag.name %><%% });
      %>
    <%% } %>
    </p>
    <%% if (notes) { %>
    <hr/>
    <p><strong>Notes:</strong> <%%= notes %></p>
    <%% } %>
    <%% if (can_edit) { %>
    <hr/>
    <a href="<%%= path %>/edit" class="btn">Edit</a>
    <%% } %>
  </div>
</script>