.list {
  border-bottom: 1px solid $col-gray-light;
  margin: 30px 0;

  li {
    font-family: $font-sans-regular;
    @include transition(all $transition-timing);

    &:nth-child(2n + 1) a {
      background: $col-gray-light;

      &:hover {
        background: $col-blue-light;
      }
    }
  }

  a {
    display: block;
    padding: 4px 20px;
    @include clearfix;

    &:hover {
      background: $col-blue-light;
      color: $col-blue-dark;
    }
  }

  span {
    float: left;
  }

  .title {
    float: left;
    width: 70%;
    @include text-overflow;
  }

  .meta {
    font-size: 12px;
    text-align: right;
    width: 30%;
  }
}
