
form {
  .error {
    color:#E74C3C;
  }
}

.message {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  clear: both;
  color: $col-default;
  font-size: 16px;
  margin: 18px 0;
  padding: 8px 14px;
  text-align: center;
  @include border-radius(4px);

  h6 {
    margin:0;
  }

  ul {
    margin:10px 0 0;
    padding:0;
  }

  li { background:none; }

  a {
    border-bottom:1px dashed #F1C40F;
    color:#F1C40F;

    &:hover { border:0; }
  }

  &.alert {
    background-color:#E67E22;
    border-color:#D35400;
  }

  &.error {
    background-color:#E74C3C;
    border-color:#C0392B;
    color:#fff;
  }

  &.notice {
    background-color:#3498DB;
    border-color:#2980B9;
    color: #fff;
  }

  &.success {
    background-color:#2ECC71;
    border-color:#27AE60;
    color: #fff;
  }
}
