/* General styles for the modal */

.md-modal {
  height: auto;
  left: 50%;
  max-width: 630px;
  min-width: 320px;
  position: fixed;
  top: 50%;
  visibility: hidden;
  width: 50%;
  z-index: 2000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  @include transform(translateX(-50%) translateY(-50%));
}

.md-overlay {
  background: rgba($col-gray, 0.8);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 100%;
  z-index: 1000;
  @include transition(all 0.3s);
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

/* Content styles */
.md-content {
  background: #fff;
  margin: 0 auto;
  opacity: 0;
  position: relative;
  @include border-radius(3px);
  @include transform(translateX(200%));

  .head {
    background: $col-gray-light;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    @include border-radius(3px 3px 0 0);
    @include text-overflow;
  }

  .body {
    padding: 15px 40px 30px;
    margin: 0;
    overflow: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(#000, 0.5);
      border-radius: 4px;
      -webkit-box-shadow: 0 0 1px rgba(#fff, 0.5);

      &:hover {
        background-color: rgba(#000, 0.2);
      }
    }
  }
}

.md-show {
  visibility: visible;

  .md-content {
    opacity: 1;
    @include transform(translateX(0));
    @include transition(all 0.5s 0.1s);
  }

}
