

.pagination {
  font-family: $font-sans-medium;
  font-size: 13px;
  @include clearfix;

  a,
  span {
    float: left;
  }

  .current,
  .gap,
  a {
    border-style: solid;
    border-width: 1px;
    margin-right: 5px;
    min-width: 15px;
    padding: 2px 8px;
    text-align: center;
    @include border-radius(2px);
  }

  a {
    display: block;
    margin-right: 5px;
  }

  .current,
  .gap {
    background: $col-gray;
    border-color: $col-gray;
    color: #fff;
  }

  a {
    background: $col-gray-light;
    border-color: #c3c4ba;
    color: $col-default;

    &:hover {
      border-color: #818171;
    }

    &:active {
      outline: none;
    }
  }
}
