html,
body {
  height:100%;
}

.wrap {
  height: auto;
  min-height: 100%;
  padding: ($footer-height + 20) 0;
}

.inner {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 30px;
}

.main-footer {
  clear: both;
  font-size: 12px;
  height: $footer-height;
  margin-top: -$footer-height;
  position: relative;
}

.head-index {
  @include clearfix;

  h1 {
    float: left;
  }

  .button {
    float: right;
    margin-top: 20px;
  }
}

.head-show {
  h1 .button {
    margin: 20px 0 4px 10px;
  }
}

.add-link {
  text-align: right;
}

.avatar {
  margin-right: 10px;
  @include border-radius(50%);
}
