<%= form_for @user, :html => { :method => :delete } do |f| %>
  <h3>Are you sure you want to permanently delete <%= @user.full_name %>?</h3>
  <p>
    <%= submit_tag "Destroy", :class => "btn btn-danger" %> or <%= link_to "cancel", users_path, :class => "btn" %>
  </p>
<% end %>
