<div id="head-wrap">
  <header>
    <%= link_to "Home", root_path, :id => "logo" %>
    <% if user_signed_in? %>
    <nav>
      <ul id="account-info">
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, :id => 'logout') %></li>
      </ul>
    </nav>
    <% end %>
  </header>
</div>
