= simple_form_for [project] do |f|

  = render 'shared/errors', m: project

  = f.input :name

  = f.association :teams,
    collection: Team.all,
    include_blank: true,
    input_html: { class: 'chosen-select' }

  = render 'shared/actions',
    m: project,
    cancel_path: projects_path,
    delete_path: project.new_record? ? nil : confirm_destroy_project_path(project)
