<%= form_for @project, :html => { :method => :delete } do |f| %>
  <h3>Are you sure you want to permanently destroy <%= @project.name %>?</h3>
  <p>
    <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> Destroy</button> or <%= link_to "cancel", projects_path, :class => "btn" %>
  </p>
<% end %>
