.entry-details {

  .label {
    display: inline-block;
    padding-right: 20px;
    text-align: right;
    width: 130px;
  }

  .indented {
    margin-top: -42px;
    padding-left: 130px;
  }

  .clipboard {
    margin-left: 8px;
    outline: 0;

    .icon {
      opacity: 0;
      visibility: hidden;
      @include transition(all $transition-timing);
    }

    &.ready {
      .icon-copy {
        opacity: 1;
        visibility: visible;
      }
    }

    &.copied {
      .icon-copy {
        display: none;
      }

      .icon-check-square-o {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.password-generator {
  input {
    margin: 0 6px 0 10px;
  }

  .fields {
    display: none;
  }

  a .icon {
    @include transition(all $transition-timing);
  }

  a:hover .icon {
    @include transform(rotate(270deg));
  }
}
