
/* Responsiveness */
@media (min-width:1200px) {
  .inner {
    width:1160px;
  }
}

@media (max-width:979px) {
  .inner {
    width:840px;
  }
}

@media (max-width:840px) {
  .inner {
    padding:0 40px;
    width:100%;
  }
}
