// colors

$col-default: #444;
$col-footer: #1f1d1d;
$col-gray: #b3b3b3;
$col-gray-light: #e3e3e3;
$col-highlight: lime;
$col-hover: #27ae60;
$col-link: #2980b9;
$col-placeholder: lighten($col-footer, 50%);
$col-blue: #47a3da;
$col-blue-dark: #0d77b6;
$col-blue-light: #afdefa;

$transition-timing: 0.15s;
$transition-function: ease-in-out;
$nav-transition-timing: 0.3s;

$footer-height: 60px;
$header-height: 50px;


$font-sans-bold: 'sans-bold';
$font-sans-medium: 'sans-medium';
$font-sans-regular: 'sans-regular';
$font-serif-bold: 'serif-bold';
$font-serif-regular: 'serif-regular';
