/*
 *= require bootstrap
 *= require_self
 *= require bootstrap-responsive
 *= require custom-file
 *= require chosen
 *= require autocomplete
 *= require teams
 *= require index_list
*/
@import 'mixins';
/* HTML5 display definitions */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio, canvas, video { display:inline-block; *display:inline; *zoom:1; }
audio:not([controls]) { display:none; }
[hidden] { display:none; }
/* Base */
html { font-size:100%; overflow-y:auto; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { background:whiteSmoke; margin:0; padding-top:10px;
background: -webkit-linear-gradient(-45deg, slateGray 22px, #D9ECFF 22px, #D9ECFF 24px, transparent 24px, transparent 67px, #D9ECFF 67px, #D9ECFF 69px, transparent 69px), -webkit-linear-gradient(225deg, slateGray 22px, #D9ECFF 22px, #D9ECFF 24px, transparent 24px, transparent 67px, #D9ECFF 67px, #D9ECFF 69px, transparent 69px)0 64px;
background-color: slateGray;
background-size: 64px 128px;
}
body, button, input, select, textarea { color:#444; font:15px 'Droid Sans', sans-serif; line-height:1.22; }
/* Links */
a { text-decoration:none; }
a:visited {  }
a:hover { text-decoration:none; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }

p { margin:0; padding:10px 0; }
/* Typography */
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:bold; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr { border:0 #e2e6e6 solid; border-top-width:1px; clear:both; display:block; height:1px; margin:10px 0; }
ins { background:#ff9; color:#000; text-decoration:none; }
mark { background:#ff0; color:#000; font-style:italic; font-weight:bold; }
/* Redeclare monospace font family:h5bp.com/j */
pre, code, kbd, samp { font-family:monospace, monospace; _font-family:'courier new', monospace; font-size:1em; }
/* Improve readability of pre-formatted text in all browsers */
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; }
q { quotes:none; }
q:before, q:after { content:""; content:none; }
small { font-size:85%; }
/* Position subscript and superscript content without affecting line-height:h5bp.com/k */
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
h1, h2, h3, h4, h5, h6 { color:#000; font-weight:bold; margin:0; padding:10px 0; text-rendering:optimizeLegibility; }
h1, h1 a { font-size:26px; margin-left:20px; padding-top:0; }
h2, h2 a { font-size:24px; }
h3, h3 a { font-size:22px; }
h4, h4 a { font-size:18px; }
h5, h5 a { font-size:16px; }
h6, h6 a { font-size:14px; }
/* Lists */
dd { margin:0 0 0 40px; }
ul, ol { padding:10px 10px 10px 30px; }
ul li { background:transparent url(../images/bullet.gif) 0 6px no-repeat; list-style:none; padding:0 0 8px 10px; }
ol {  }
ol li { list-style:decimal; margin:0 0 0 10px; padding:0 0 8px 0; }
nav ul, nav ol, nav li { background:none; margin:0; padding:0; }
blockquote { color:#76888a; font-size:16px; font-style:italic; padding:10px 0; }
blockquote p { padding:0 }
img { border:0; -ms-interpolation-mode:bicubic; vertical-align:middle; }
/* Correct overflow not hidden in IE9 */
svg:not(:root) { overflow:hidden; }
/* Figures */
figure { margin:0; }
/* Forms */
form { margin:0; }
fieldset { border:0; margin:0; padding:0; }
/* Indicate that 'label' will shift focus to the associated form element */
label { cursor:pointer; font-weight:bold; }
legend { border:0; *margin-left:-7px; padding:0; }
button, input, select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; }
button, input { line-height:normal; *overflow:visible; }
button:active, .button:active { position:relative; top:1px; }
/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input { *overflow:auto; }
button, select, input[type="button"], input[type="reset"], input[type="submit"], input[type='file'] { cursor:pointer; }
button, input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance:button; }
/* Consistent box sizing and appearance  */
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; padding:0; *width:13px; *height:13px; }
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
input[type='text'], input[type='email'], input[type='password'], input[type='url'], input.input-field, textarea { 

}
textarea { height:200px; overflow:auto; vertical-align:top; resize:vertical; }
/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid {  }
/*Tables*/
table { border-collapse:collapse; border-spacing:0; padding:10px 0; }
td, th { padding:5px; }
th { font-weight:bold; }
td { vertical-align:top; }

::-moz-selection { background:#9CF9F9; color:#fff; text-shadow:none; }
::selection { background:#9CF9F9; color:#fff; text-shadow:none; }
::-webkit-input-placeholder { color:#999999; }
::-moz-placeholder { color:#999999; }

a:focus, button:focus, input:focus, label:focus, select:focus, textarea:focus {  }

/* Put all the transition elements here */
a { @include transition; @include transition-property(#{"color, background-color"}); }

/* CLASSES */
/* For image replacement */
.ir { background-color:transparent; background-repeat:no-repeat; border:0; direction:ltr; display:block; overflow:hidden; text-align:left; text-indent:-999em; }
.ir br { display:none; }

.hide { display:none !important; visibility:hidden; }
.invisible { visibility:hidden; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { *zoom:1; }
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }
.alert {  }

.navbar.on { position:fixed; top:10px; width:300px; }
.navbar.on .pull-right { display:none; }
.dropdown-menu li { margin:0; padding:0;}
.nav, .nav li { padding:0; }
.nav li { background:none; }
.pagination ul { padding:0; }
.tags, .tags li { background:none; padding:0; }
.tags.on { position:fixed; right:20px; top:20px; width:300px;}
.tags li { display:block; float:left; margin:0 3px 5px 0; }
.pager.tags a.on { background-color:whiteSmoke; }
textarea.small { height:44px; }

#content { background:#fff; background:rgba(255, 255, 255, 0.95); margin-bottom:20px; min-height:400px; padding:10px 10px 40px; position:relative; @include border-radius(10px); @include drop-shadow; @include transition; @include transition-property(height); }
footer { bottom:20px; left:30px; position:absolute; }
.entry-info { margin-bottom:10px; }
.delete { float:right; }
.ava { @include border-radius(50%); }

@media print {
  * { background:transparent !important; color:black !important; box-shadow:none !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; } 
  a, a:visited { text-decoration:underline; }
  a[href]:after { content:" (" attr(href) ")"; }
  abbr[title]:after { content:" (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
  pre, blockquote { border:1px solid #999; page-break-inside:avoid; }
  thead { display:table-header-group; } 
  tr, img { page-break-inside:avoid; }
  img { max-width:100% !important; }
  @page { margin:0.5cm; }
  p, h2, h3 { orphans:3; widows:3; }
  h2, h3 { page-break-after:avoid; }
}

