.icon-leaf { cursor:pointer; }
#suggestions { display:none; }

.input-append.password .add-on { margin-right:4px; }

#password-options {
  h3 { font-size:14px; }
  p { padding:0; }
  .close { margin-right:4px; }
}