@mixin border-radius($radius){
-webkit-border-radius:$radius;
   -moz-border-radius:$radius;
        border-radius:$radius;
}

@mixin drop-shadow {
-webkit-box-shadow:0px 0px 8px 0px rgba(4, 4, 5, .5);
   -moz-box-shadow:0px 0px 8px 0px rgba(4, 4, 5, .5);
        box-shadow:0px 0px 8px 0px rgba(4, 4, 5, .5);
}
@mixin inset-shadow {
-webkit-box-shadow: inset 1px 1px 4px 2px rgba(107, 107, 107, 0.3);
   -moz-box-shadow: inset 1px 1px 4px 2px rgba(107, 107, 107, 0.3);
        box-shadow: inset 1px 1px 4px 2px rgba(107, 107, 107, 0.3);
}
@mixin no-shadow {
-webkit-box-shadow:none;
   -moz-box-shadow:none;
        box-shadow:none;
}
@mixin transition {
   -o-transition-duration:.25s;
   -o-transition-timing-function:ease-in;
   -moz-transition-duration:.25s;
   -moz-transition-timing-function:ease-in;
   -webkit-transition-duration:.25s;
   -webkit-transition-timing-function:ease-in;
   transition-duration:.25s;
   transition-timing-function:ease-in;
}
@mixin transition-property($prop) {
     -o-transition-property:$prop;
   -moz-transition-property:$prop;
-webkit-transition-property:$prop;
        transition-property:$prop;
}
@mixin gradient($begin, $end) {
    background: $begin; /* Old browsers */
    background: -moz-linear-gradient(top,  $begin 0%, $end 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$begin), color-stop(100%,$end)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $begin 0%,$end 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $begin 0%,$end 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $begin 0%,$end 100%); /* IE10+ */
    background: linear-gradient(top,  $begin 0%,$end 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$begin', endColorstr='$end',GradientType=0 ); /* IE6-9 */
}

